<% provide(:title, 'About') %>
<h1>About this site</h1>
<p>This website is a collection of quotes collected and curated by myself. I mantain it purly as a tool to help myself mangage this many different quotations. I decided to make it public so that I could help anyone else who could find it useful. if you would like to submit a quote for inclusion you can email me at <a href="&#109;&#x61;&#x69;&#x6C;t&#111;:&#97;&#x64;a&#109;&#64;&#x61;&#x63;&#106;&#97;&#99;&#x6B;&#x6D;&#x61;&#x6E;&#46;&#99;&#x6F;&#109;">&#97;&#x64;a&#109;&#64;&#x61;&#x63;&#106;&#97;&#99;&#x6B;&#x6D;&#x61;&#x6E;&#46;&#99;&#x6F;&#109;</a>. Thank you and enjoy! </p>
<p>Adam Jackman</p>
