<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact me at <a href="&#109;&#x61;&#x69;&#x6C;t&#111;:&#97;&#x64;a&#109;&#64;&#x61;&#x63;&#106;&#97;&#99;&#x6B;&#x6D;&#x61;&#x6E;&#46;&#99;&#x6F;&#109;">&#97;&#x64;a&#109;&#64;&#x61;&#x63;&#106;&#97;&#99;&#x6B;&#x6D;&#x61;&#x6E;&#46;&#99;&#x6F;&#109;</a>.
</p>