<div class="center hero-unit">
	<h1>Adam's Quote Library</h1>
	<h2>
	  This is the home page for Adam's Quote Library version 3.0. It is still under development, the current database is found at <a href="http://quotes.acjackman.com">http://quotes.acjakman.com</a>.
	</h2>
	
	<%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
