<% provide(:title, 'Home') %>
<h1>Adam's Quote Library</h1>
<p>
  This is the home page for Adam's Quote Library version 3.0. It is still under development, the current database is found at <a href="http://quotes.acjackman.com">http://quotes.acjakman.com</a>.
</p>
