{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load markdown_deux_tags %}

{% block title %}Confirm deletion of {{ object.full_name }}{% endblock %}

{% block content %}
<div class="container">
    <form class="form-horizontal" method="post" raction="">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ object }}"?</p>
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn">Confirm</button>
          </div>
        </div>
    </form>
</div>
{% endblock content %}
